.profile {
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;
  width: 100%;
  span{
    font-size: 20px;
  }

  .btn-edit{
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 20px;
    position:absolute;
    top:10px;
    right: 10px;
    color: #007bff;

    &:hover {
      color: mediumorchid;
    }
  }

  .modalUser{
    padding: 20px;
  }

  &__container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    width: 100%;

    h2{
      margin-top: 0;
    }

    .profile__item {
      margin-bottom: 10px;

      .profile__label {
        font-weight: bold;
        color: #333;
      }

      .profile__value {
        margin-left: 10px;
        color: #666;
      }
    }
  }
}