.game-platforms-container {
  margin-bottom: 10px;
}

.game-platforms-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.game-platforms-checkboxes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  input{
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}