.page-selector {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 5px;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: lightgray;
    }

    &.active {
      background-color: gray;
      color: white;
    }
  }
}